.timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: black;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        border-radius: 10px;
    }
    
    .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }
    
    .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -12px;
        background-color: white;
        border: 4px solid black;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }
    
    .left {
        left: 0;
    }
    
    .right {
        left: 50%;
    }
    
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid black;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent black;
    }
    
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent black transparent transparent;
    }
    
    .right::after {
        left: -12px;
    }
    
    .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        border : 1px solid black;
        text-align: justify;
    }
    
    @media screen and (max-width: 850px) {
        .timeline::after {
            left: 31px;
        }
    
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
    
        .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
    
        .left::after, .right::after {
            left: 15px;
        }
    
        .right {
            left: 0%;
        }
    }

.experienceWrapper{
        box-sizing: border-box;
        width: 90vw;
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        
}
.Activity{
        font-size: large;
        font-weight: bold;
        margin-top: 10px;
}
.time{
        font-size: small;
}
.desc{
        margin-top: 10px;
}
.experienceTitle{
        font-size: 50px;
        
}
.timelineWrapper{
        padding-top: 50px;
}